<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.renren.modules.WeiYu.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="io.renren.modules.WeiYu.model.Company" >
    <id column="CompanyId" property="companyid" jdbcType="VARCHAR" />
    <result column="CompanyName" property="companyname" jdbcType="VARCHAR" />
    <result column="CompanyUnifiedSocialCreditCode" property="companyunifiedsocialcreditcode" jdbcType="VARCHAR" />
    <result column="CompanyBankofDeposit" property="companybankofdeposit" jdbcType="VARCHAR" />
    <result column="CompanyBankAccount" property="companybankaccount" jdbcType="VARCHAR" />
    <result column="CompanyAddress" property="companyaddress" jdbcType="VARCHAR" />
    <result column="CompanyTelephone" property="companytelephone" jdbcType="VARCHAR" />
    <result column="CompanyLegalPerson" property="companylegalperson" jdbcType="VARCHAR" />
    <result column="CompanyStandbyone" property="companystandbyone" jdbcType="VARCHAR" />
    <result column="CompanyStandbytwo" property="companystandbytwo" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    CompanyId, CompanyName, CompanyUnifiedSocialCreditCode, CompanyBankofDeposit, CompanyBankAccount, 
    CompanyAddress, CompanyTelephone, CompanyLegalPerson, CompanyStandbyone, CompanyStandbytwo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from Company
    where CompanyId = #{companyid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from Company
    where CompanyId = #{companyid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="io.renren.modules.WeiYu.model.Company" >
    insert into Company (CompanyId, CompanyName, CompanyUnifiedSocialCreditCode, 
      CompanyBankofDeposit, CompanyBankAccount, 
      CompanyAddress, CompanyTelephone, CompanyLegalPerson, 
      CompanyStandbyone, CompanyStandbytwo)
    values (#{companyid,jdbcType=VARCHAR}, #{companyname,jdbcType=VARCHAR}, #{companyunifiedsocialcreditcode,jdbcType=VARCHAR}, 
      #{companybankofdeposit,jdbcType=VARCHAR}, #{companybankaccount,jdbcType=VARCHAR}, 
      #{companyaddress,jdbcType=VARCHAR}, #{companytelephone,jdbcType=VARCHAR}, #{companylegalperson,jdbcType=VARCHAR}, 
      #{companystandbyone,jdbcType=VARCHAR}, #{companystandbytwo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="io.renren.modules.WeiYu.model.Company" >
    insert into Company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyid != null" >
        CompanyId,
      </if>
      <if test="companyname != null" >
        CompanyName,
      </if>
      <if test="companyunifiedsocialcreditcode != null" >
        CompanyUnifiedSocialCreditCode,
      </if>
      <if test="companybankofdeposit != null" >
        CompanyBankofDeposit,
      </if>
      <if test="companybankaccount != null" >
        CompanyBankAccount,
      </if>
      <if test="companyaddress != null" >
        CompanyAddress,
      </if>
      <if test="companytelephone != null" >
        CompanyTelephone,
      </if>
      <if test="companylegalperson != null" >
        CompanyLegalPerson,
      </if>
      <if test="companystandbyone != null" >
        CompanyStandbyone,
      </if>
      <if test="companystandbytwo != null" >
        CompanyStandbytwo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyid != null" >
        #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companyunifiedsocialcreditcode != null" >
        #{companyunifiedsocialcreditcode,jdbcType=VARCHAR},
      </if>
      <if test="companybankofdeposit != null" >
        #{companybankofdeposit,jdbcType=VARCHAR},
      </if>
      <if test="companybankaccount != null" >
        #{companybankaccount,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress != null" >
        #{companyaddress,jdbcType=VARCHAR},
      </if>
      <if test="companytelephone != null" >
        #{companytelephone,jdbcType=VARCHAR},
      </if>
      <if test="companylegalperson != null" >
        #{companylegalperson,jdbcType=VARCHAR},
      </if>
      <if test="companystandbyone != null" >
        #{companystandbyone,jdbcType=VARCHAR},
      </if>
      <if test="companystandbytwo != null" >
        #{companystandbytwo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.renren.modules.WeiYu.model.Company" >
    update Company
    <set >
      <if test="companyname != null" >
        CompanyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companyunifiedsocialcreditcode != null" >
        CompanyUnifiedSocialCreditCode = #{companyunifiedsocialcreditcode,jdbcType=VARCHAR},
      </if>
      <if test="companybankofdeposit != null" >
        CompanyBankofDeposit = #{companybankofdeposit,jdbcType=VARCHAR},
      </if>
      <if test="companybankaccount != null" >
        CompanyBankAccount = #{companybankaccount,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress != null" >
        CompanyAddress = #{companyaddress,jdbcType=VARCHAR},
      </if>
      <if test="companytelephone != null" >
        CompanyTelephone = #{companytelephone,jdbcType=VARCHAR},
      </if>
      <if test="companylegalperson != null" >
        CompanyLegalPerson = #{companylegalperson,jdbcType=VARCHAR},
      </if>
      <if test="companystandbyone != null" >
        CompanyStandbyone = #{companystandbyone,jdbcType=VARCHAR},
      </if>
      <if test="companystandbytwo != null" >
        CompanyStandbytwo = #{companystandbytwo,jdbcType=INTEGER},
      </if>
    </set>
    where CompanyId = #{companyid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.renren.modules.WeiYu.model.Company" >
    update Company
    set CompanyName = #{companyname,jdbcType=VARCHAR},
      CompanyUnifiedSocialCreditCode = #{companyunifiedsocialcreditcode,jdbcType=VARCHAR},
      CompanyBankofDeposit = #{companybankofdeposit,jdbcType=VARCHAR},
      CompanyBankAccount = #{companybankaccount,jdbcType=VARCHAR},
      CompanyAddress = #{companyaddress,jdbcType=VARCHAR},
      CompanyTelephone = #{companytelephone,jdbcType=VARCHAR},
      CompanyLegalPerson = #{companylegalperson,jdbcType=VARCHAR},
      CompanyStandbyone = #{companystandbyone,jdbcType=VARCHAR},
      CompanyStandbytwo = #{companystandbytwo,jdbcType=INTEGER}
    where CompanyId = #{companyid,jdbcType=VARCHAR}
  </update>
</mapper>